<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
    {{style('style')}}

    @!section('extracss')
    <title>
    @!section('title')
    </title>

</head>
<body>
    <header>
        <a href="/" id="logo">Blog App</a>
        <nav>
            <ul>
               <li><a href="/">Blogs</a></li>
               @loggedIn
               <li><a href="/post-a-blog">My Blog</a></li>
               <li><a href="/logout">Logout</a></li>
               @else
                 <li><a href="/login">Login</a></li>
                 <li><a href="/signup">Signup</a></li>
               @endloggedIn
            </ul>
        </nav>
    </header>

    <div class="container">
        @!section('content')
    </div>
</body>
</html>